<a href="https://colab.research.google.com/github/11bender/alumni-scraping/blob/main/cleaning_scraped_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/Users/moncefbender/Desktop/data.csv")

In [ ]:
df.drop(df[df['locations'] == '[]'].index, inplace = True)

In [ ]:
df

,Full Name,Companies,locations
0,Marouane Albairat,"['Google', 'Gartner', 'du', 'Atos']","['Dubai, United Arab Emirates', 'Dubai, UAE']"
1,Amine Marghich,"['Oracle', 'IBM', 'ZTE Corporation']","['Amsterdam Area, Netherlands', 'Dubai, United..."
2,Sanae EL MEHDAOUI,"['Université Paris 8 Vincennes - Saint-Denis',...","['Paris Area, France', 'Paris 09, Île-de-Franc..."
3,Khaoula BOUKHAYMA,"['IBM', 'Freelance, self-employed', 'GASCO', '...","['Casablanca', 'Abu Dhabi', 'United Arab Emira..."
4,Bouchra EL GZIRI,"['IBM', 'SQLI']","['Préfecture de Casablanca, Morocco', 'Préfect..."
...,...,...,...
1066,Loubna Najihi,"['VISEO\n Full-time', 'Novedia Group\n ...","['London, United Kingdom', 'London, United Kin..."
1067,Sarah Wardy,"['Amazon', 'BT', 'Maroc Telecom\n Full-...","['London, United Kingdom', 'London, United Kin..."
1068,Manal EL AKROUCHI,"['SAP', 'Nevo-Technologies Morroco', 'SQLI']","['Tokyo, Japan', 'Tokyo, Japan', 'Oujda', 'Ouj..."
1069,Mohammed Sahli,"['ExaWizards Inc.\n Permanent', 'アルファヤ\...","['Tokyo, Japan', 'Tokyo, Japan', 'Tokyo, Japan..."
1070,Tarik Mokafih,"['NeurodigitX', 'NodOn®', 'Zenytime', 'mascir'...","['Shanghai City, China', 'Rabat, Phoenix', 'Ma..."

In [ ]:
locations = df["locations"]

In [ ]:
locations_splited = locations.str.split("',")

In [ ]:
locations_splited_np = locations_splited.to_numpy()

In [ ]:
locations_splited_np[0][1]

" 'Dubai, UAE']"

In [ ]:
locations_splited_np_flat = list(np.concatenate(locations_splited_np).flat)

In [ ]:
locations_splited_np_flat[1]

" 'Dubai, UAE']"

In [ ]:
import re
for i in range (len(locations_splited_np_flat)):
  locations_splited_np_flat[i] = re.sub("[]'[]+", '', locations_splited_np_flat[i])

In [ ]:
locations = pd.DataFrame(locations_splited_np_flat)

In [ ]:
locations[0] = locations[0].str.strip()

In [ ]:
locations.to_csv('/locations.csv', header='locations', index=False)

**Made with ♥️ by Moncef Bender.**